{
  "ignition": {
    "config": {
      "merge": [
        {
          "source": "data:text/plain;charset=utf-8;base64,{{ CoreDNS_ign }}",
          "verification": {}
        }
      ],
      "replace": {
        "verification": {}
      }
    },
    "proxy": {},
    "security": {
      "tls": {}
    },
    "timeouts": {},
    "version": "3.1.0"
  },
  "passwd": {},
  "storage": {},
  "systemd": {}
}
