{
  "ignition": {
    "config": {
      "replace": {
        "verification": {}
      }
    },
    "proxy": {},
    "security": {
      "tls": {}
    },
    "timeouts": {},
    "version": "3.1.0"
  },
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
          "{{ config.installer_ssh_key }}"
        ]
      }
    ]
  },
  "storage": {
    "files": [
      {
        "group": {},
        "overwrite": false,
        "path": "/etc/haproxy/haproxy.conf",
        "user": {},
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ haproxy_cfg_b64 }}",
          "verification": {}
        },
        "mode": 420
      }
    ]
  },
  "systemd": {
    "units": [
      {
        "contents": "[Unit]\nDescription=haproxy\nAfter=network-online.target\nWants=network-online.target\n\n[Service]\nTimeoutStartSec=0\nExecStartPre=-/bin/podman kill haproxy\nExecStartPre=-/bin/podman rm haproxy\nExecStartPre=/bin/podman pull quay.io/openshift/origin-haproxy-router\nExecStart=/bin/podman run --name haproxy \\\n  --net=host \\\n  --privileged \\\n  --entrypoint=/usr/sbin/haproxy \\\n  -v /etc/haproxy/haproxy.conf:/var/lib/haproxy/conf/haproxy.conf:Z \\\n  quay.io/openshift/origin-haproxy-router -f /var/lib/haproxy/conf/haproxy.conf\n\n[Install]\nWantedBy=multi-user.target\n",
        "enabled": true,
        "name": "haproxy.service"
      }
    ]
  }
}
